# 复制为 .env 后使用：  copy .env.example .env
# docker compose 在 docs/infra 目录执行

POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=hospital
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9001
MINIO_CONSOLE_PORT=9002

NACOS_PORT=8848
NACOS_GRPC_PORT=9848

REDIS_PORT=6379
